<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <title>Customer Manager</title>
</head>
<body>
<!--Навбар с Логаутом-->
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid" id="navbar">
        <div id="navbar_info" class="p-2 text-white font-weight-bold"></div>
        <a class="btn btn-dark text-right" href="/logout"> Logout </a>
    </div>
</nav>
<!--Навбар с Логаутом-->
<div class="d-flex" style="height: 100vh">
    <!--  Панель слева с админ и юсер-->
    <div class="col-2 mt-3 p-0">
        <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
            <a class="nav-item nav-link ml-2 active" data-toggle="pill" href="#admin_info" role="tab"
               aria-controls="admin_info" aria-selected="true">Admin</a>
            <a class="nav-item nav-link ml-2" data-toggle="pill" href="#user_info" role="tab"
               aria-controls="user_info" aria-selected="true">User</a>
        </div>
    </div>
    <!--Панель слева с админ и юсер-->
    <div class="col-10 p-0">
        <div class="tab-content bg-light p-2">
            <!-- Панель Admin-->
            <div class="tab-pane fade show active ml-3 mr-3" style="height: 700px;" id="admin_info"
                 role="tabpanel" aria-labelledby="admin_info">
                <h1>Admin panel</h1>
                <nav>
                    <div class="nav nav-tabs" role="tablist">
                        <a class="nav-item nav-link active" data-toggle="tab" role="tab" href="#users_table">Users
                            table</a>
                        <a class="nav-item nav-link" data-toggle="tab" role="tab" href="#new_user">New User</a>
                    </div>
                </nav>
                <div class="tab-content">
                    <div class="tab-pane fade show active border" id="users_table" role="tabpanel">
                        <div class="card">
                            <h5 class="card-header">All users</h5>
                        </div>
                        <div class="bg-white border p-3">
                            <table class="table table-striped border-top" id="all_users_table">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>UserName</th>
                                    <th>Password</th>
                                    <th>E-mail</th>
                                    <th>Roles</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                                </thead>
                                <!--&lt;!&ndash;                            Заполнение списка всех пользователей из базы-->
                                <tbody id="all_users_tbody">
                                <!--                                       Модальное окно EDIT       -->
                                <div id="editModal"
                                     class="modal fade" tabindex="-1" role="dialog"
                                     aria-labelledby="TitleModalEdit" aria-hidden="true"
                                     data-backdrop="static" data-keyboard="false">
                                    <div class="modal-dialog modal-dialog-scrollable">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="TitleModalEdit">Edit user</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>

                                            <!-- Edit -->

                                            <div class="modal-body bg-white">
                                                <form id="formEditUser"
                                                      class="form-signin mx-auto font-weight-bold text-center"
                                                      style="width: 200px;">
                                                    <p>
                                                        <label for="idEdit">ID</label>
                                                        <input class="form-control form-control-sm" type="text"
                                                               name="id" id="idEdit" readonly>
                                                    </p>
                                                    <p>
                                                        <label for="nameEdit">Name</label>
                                                        <input class="form-control form-control-sm" type="text"
                                                               name="nameEdit"
                                                               id="nameEdit" placeholder="First name" required
                                                               autofocus>
                                                    </p>
                                                    <p>
                                                        <label for="passwordEdit">Password</label>
                                                        <input class="form-control form-control-sm"
                                                               type="password"
                                                               name="passwordEdit"
                                                               id="passwordEdit" placeholder="Password"
                                                               required>
                                                    </p>
                                                    <p>
                                                        <label for="emailEdit">Email</label>
                                                        <input class="form-control form-control-sm" type="email"
                                                               name="emailEdit" id="emailEdit"
                                                               placeholder="Email" required>
                                                    </p>

                                                    <p>
                                                        <label>Role</label>
                                                        <select id="editRoles" class="form-control form-control-sm" multiple size="3" required>
                                                            <option value="2" label="USER"></option>
                                                            <option value="1" label="ADMIN"></option>
                                                            <option value="3" label="ANY"></option>
                                                        </select>
                                                    </p>
                                                </form>

                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                        data-dismiss="modal">
                                                    Close
                                                </button>
                                                <button type="submit" class="btn btn-primary" form="formEditUser"
                                                        data-btn="submitEdit">
                                                    Edit
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--                                     Конец  Модальное окно EDIT       -->

                                <!--                                       Модальное окно DELETE       -->
                                <div id="deleteModal"
                                     class="modal fade" tabindex="-1" role="dialog"
                                     aria-labelledby="TitleModalDelete" aria-hidden="true"
                                     data-backdrop="static" data-keyboard="false">
                                    <div class="modal-dialog modal-dialog-scrollable">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="TitleModalDelete">Delete user</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>

                                            <div class="modal-body bg-white">
                                                <form id="formDeleteUser"
                                                      th:method="DELETE"
                                                      class="form-signin mx-auto font-weight-bold text-center"
                                                      style="width: 200px;">
                                                    <p>
                                                        <label for="idDelete">ID</label>
                                                        <input class="form-control form-control-sm" type="text"
                                                               name="id" id="idDelete" readonly>
                                                    </p>
                                                    <p>
                                                        <label for="nameDelete">Name</label>
                                                        <input class="form-control form-control-sm" type="text"
                                                               name="name"
                                                               id="nameDelete" readonly
                                                               placeholder="First name" autofocus>
                                                    </p>
                                                    <p>
                                                        <label for="emailDelete">Email</label>
                                                        <input class="form-control form-control-sm" type="email"
                                                               name="email" id="emailDelete" readonly
                                                               placeholder="Email">
                                                    </p>
                                                    <p>
                                                        <label>Role</label>
                                                        <select id="deleteRoles" class="form-control form-control-sm" multiple size="2" required>
                                                            <option value="2" label="USER"></option>
                                                            <option value="1" label="ADMIN"></option>
                                                            <option value="3" label="ANY"></option>
                                                        </select>
                                                    </p>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                        data-dismiss="modal">Close
                                                </button>
                                                <button type="submit" form="formDeleteUser"
                                                        class="btn btn-danger" data-btn="submitDelete">
                                                    Delete
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </tbody>
                            </table>

                        </div>
                    </div>
                    <!--Форма добавления нового юсера-->
                    <div class="tab-pane fade border" id="new_user" role="tabpanel">
                        <div class="card">
                            <h5 class="card-header">Add new user</h5>
                        </div>
                        <div class="container bg-white">
                            <!--Форма добавления нового юсера-->
                            <form class="form-signin mx-auto font-weight-bold text-center p-3"
                                  style="width: 300px;">
                                <p>
                                    <label for="nameNew">Name</label>
                                    <input class="form-control form-control-sm" type="text"
                                           name="name" id="nameNew" placeholder="Name" required autofocus>
                                </p>
                                <p>
                                    <label for="passwordNew">Password</label>
                                    <input class="form-control form-control-sm" type="text"
                                           name="password" id="passwordNew" placeholder="Password">
                                </p>
                                <p>
                                    <label for="emailNew">Email</label>
                                    <input class="form-control form-control-sm" type="email"
                                           name="email" id="emailNew" placeholder="Email" required>
                                </p>
                                <p>
                                    <label>Role</label>
                                    <select id="newRoles" class="form-control form-control-sm" multiple size="3" required>
                                        <option value="2" label="USER">USER</option>
                                        <option value="1" label="ADMIN">ADMIN</option>
                                        <option value="3" label="ANY">ANY</option>
                                    </select>
                                </p>
                                <button class="btn btn-success" type="submit" data-btn="submitAddNewUser">Add new user</button>
                            </form>
                            <!--Форма добавления нового юсера-->
                        </div>
                    </div>
                    <!--Форма добавления нового юсера-->
                </div>
            </div>
            <!--Панель User-->
            <div class="tab-pane fade pl-3" style="height: 700px;" id="user_info" role="tabpanel"
                 aria-labelledby="user_info">
                <h1>User information-page</h1>
                <div class="pl-3 pt-1 d-flex border-top border-left border-right">
                    <h5 class="card-header"> About user</h5>
                </div>
                <div class="bg-white border p-3">
                    <table class="table table-striped border-top">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>UserName</th>
                            <th>Password</th>
                            <th>E-mail</th>
                            <th>Role</th>
                        </tr>
                        </thead>
                        <tbody id="user_tbody">
                        </tbody>
                    </table>
                </div>
            </div>
            <!--Панель User-->
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
<script src="/rest.js"></script>
</body>
</html>